
QBTapIt.xcodeproj/xcuserdata/killarazzi.xcuserdatad/xcschemes/QBTapIt.xcscheme

QBTapIt.xcodeproj/xcuserdata/killarazzi.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

QBTapIt.xcodeproj/project.xcworkspace/xcuserdata/killarazzi.xcuserdatad/UserInterfaceState.xcuserstate

QBTapIt.xcodeproj/xcuserdata/killarazzi.xcuserdatad/xcschemes/xcschememanagement.plist
